.summary {
    padding: 2px 10px;
    display: flex;
    flex-flow: row;
}

.details {
    padding: 10px;
}

table {
    width: 100%;
    text-align: left;
}

.hide {
    display: none;
}

.packet {
    max-width: 900px;
    margin-bottom: 12px;
    background: #f9f8ff;
    border: 1px solid mediumseagreen;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.error {
    padding-left: 15px;
    border: 1px solid red;
}

.invalid {
    border: 1px solid darkorange;
}